@font-face {
    font-family: OpenSans;
    src: url('./fonts/OpenSans-Regular.ttf') format('TrueType');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F3F3F3;
    font-family: 'OpenSans';
}

.img {
    width: 100%;
}

.container {
    padding: 25px;
}

#card-1 {
    margin:auto;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px;
    box-shadow: 1px 1px 2px #C4C4C4;
    margin-bottom: 1%;

    div {
        margin: 1.3%;
    }

    #div-inline {
        display: inline;
        padding: 10px;

        #titulo {
            float: left;
            margin-left: 18px;
            font-size: 20px;
        }

        #status {
            float: right;
            color: #585756;
            background-color: #EBF0F5;
            display: inline;
            padding: 5px;
            
            #ponto {
                float: left;
                width: 7px;
                height: 7px;
                background-color: #00B98E;
                border-radius: 10px;
                margin-right: 5px;
                position: relative;
                top: 7px;
            }

            #variavelStatus {
                float: right;
            }
        }
    
    } 

    

}



#card-2 {
    background-color: #FFFFFF;
    padding: 30px;
    width: 35%;
    border-radius: 3px;
    
    box-shadow: 1px 1px 2px #C4C4C4;
    float: left;
    margin-bottom: 106px;

    #div-campo-cnpj {
        display: none;
    }

    hr {
        margin-bottom: 20px;
        width: 100%;
        
        margin-right: -25px;
    }

    label {
        font-size: 15px;
    
    }

    select {
        height: 30px;
        width: 30%;
        border: 1px solid #CDCDCD;
    }

    input {
        height: 40px;
        border: 1px solid #CDCDCD;
        padding: 3px;
    }

    .input-xs {
        width: 100%;
    }

    .input-md {
        width: 100%;
    }

    .input-lg {
        width: 100%;
    }

    .required:after {
        content: " *";
        color: red;
    }

    table {
        width: 100%;
        

        .td-maior {
            width: 60%;
            padding-right: 20px;
        }

        .td-menor {
            width: 20%;
        }
    }

    button {
        width: 114px;
        height: 19px;
        background-color: #3570B2;
        color: white;
        border: 1px solid;
        border-radius: 30px;
    }
}

#qtd-doc-solicitados{
    float: right;
    width: 60%;
    padding-bottom: 10px;
}

#card-3 {
    width: 60%;
    height: 307px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #C4C4C4;
    figcaption {
        color: #CDCDCD;
    }
}

#card-4 {
    display: none;
    width: 56%;
    max-width: 56%;
    height: 248px;
    float: right;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #C4C4C4;
    padding: 25px;

    .left {
        float: left;
        width: 50%;
    }

    .right {
        float:right;
        width: 50%; 
    }

    hr {
        margin-bottom: 15px;
    }

    table {
        width: 100%;

        #hr-inferior {
            margin-top: 25px;
        }
    }
}

#div-teste{
    width: 60%;
    float: right;
    background-color: #ddb3b3;
}